<section class="restaurants-show">
  <div id="restId" style="display: none;"><%= restaurant._id %></div>
  <h1><%= restaurant.name %></h1>
  <p>Address: <%= restaurant.address %></p>
  <p>Phone Number: <%= restaurant.phoneNumber %></p>
  <a href="<%= restaurant.websiteURL %>" target="_blank">Go to <%= restaurant.name %> <strong>website</strong></a>

  <p>Price Level: <%= restaurant.priceLevel %></p>
  <p>Google Rating: <%= restaurant.rating %></p>

  <ul>
    <% restaurant.menuItem.forEach(item => { %>
      <li>
        <h3><%= item.itemName %> - (<%= item.itemCategory %>), £<%= item.price %>, <%= item.otherOptions %></h3>
        <button id="upvote" data-value="<%= item %>" class="btn btn-success votes"><%= item.upvotes %></button>
        <button id="downvote" data-value="<%= item %>" class="btn btn-danger votes"><%= item.downvotes %></button>
        <div style="display: none;"><%= item._id %></div>
        <div style="display: none;"><%= item.upvotes %></div>
        <div style="display: none;"><%= item.downvotes %></div>
      </li>
    <% }) %>
  </ul>

  <a href="/restaurants/<%= restaurant.restaurantId %>/menuItems/new">ADD NEW ITEM</a>
</section>
