<p id="restaurant-type" style="display: none;"><%= restaurant.types %></p>
<section class="restaurants-show row">
  <div class="col-12 restaurant-info-container" style="background-image: url('<%= restaurant.photo %>')">
    <div class="black-overlay">
      <div id="restId" style="display: none;"><%= restaurant._id %></div>
      <div id="googleRestId" style="display: none;"><%= restaurant.restaurantId %></div>
      <h1><%= restaurant.name %></h1>
      <h3><%= restaurant.address %></h3>
      <div class="row icons">
        <div class="col-4">
          <img src="/images/phone-icon.svg" alt="">
          <p class="rest-details"><%= restaurant.phoneNumber %></p>
        </div>
        <div class="col-4">
          <img src="/images/price-icon.svg" alt="">
          <p class="rest-details rest-details-price"><%= restaurant.priceLevel %></p>
        </div>
        <div class="col-4">
          <img src="/images/web-icon.svg" alt="">
          <a class="rest-details" href="<%= restaurant.websiteURL %>" target="_blank">Go to <%= restaurant.name %><br> <strong>website</strong></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 menu-container">
    <div class="row menu-header">
      <div class="col-12">
        <h2>MENU</h2>
        <div class="row menu-legend">
          <div class="col-4">
            <img src="/images/starter-icon.svg" alt="">
            <p class="legend-courses">Appetiser</p>
          </div>
          <div class="col-4">
            <img src="/images/main-icon.svg" alt="">
            <p class="legend-courses">Main Course</p>
          </div>
          <div class="col-4">
            <img src="/images/dessert-icon.svg" alt="">
            <p class="legend-courses">Dessert</p>
          </div>
        </div>
      </div>
    </div>

    <ul id="menu" class="menu">
      <% restaurant.menuItem.forEach(item => { %>
        <li data-score="" class="menu-item">
        <div class="row item-bar">
          <div class="col-6">
            <p class="menu-item-item"><span><img class="image-category" src="/images/starter-icon.svg" width="40px" height="40px" alt="<%= item.itemCategory %>"></span><%= item.itemName %><span>, £</span><span class="price-item-span"><%= item.price %></span><span></p>

            <p class="item-category" style="display: none;"><%= item.itemCategory %></p>
          </div>
          <div class="col-6 item-voting-system">
            <% if( locals.currentUser && item.hasVoted('upvote', locals.currentUser.id) ){ %>
              <input class="upvote-hidden-check-up" type="hidden" name="can_upvote" value="false">
            <% } else {%>
              <input class="upvote-hidden-check-up" type="hidden" name="can_upvote" value="true">
            <% } %>

            <button id="upvote" class="sort-this-out votes yeah-vote"><%= item.upvotes %></button><span class="yeah">YEAH!</span>

            <% if( locals.currentUser && item.hasVoted('downvote', locals.currentUser.id) ){ %>
              <input class="downvote-hidden-check-down" type="hidden" name="can_downvote" value="false">
            <% } else {%>
              <input class="downvote-hidden-check-down" type="hidden" name="can_downvote" value="true">
            <% } %>

            <button id="downvote" class="sort-this-out bleah-vote votes"><%= item.downvotes %></button><span class="yeah">BLEAH!</span>

            <div style="display: none;"><%= item._id %></div>
            <div style="display: none;"><%= item.upvotes %></div>
            <div style="display: none;"><%= item.downvotes %></div>

            <button class="critiques"><i class="fa fa-comment-o" aria-hidden="true"></i> CRITIQUES</button>
          </div>
          <div class="col-12 comment-section" style="display: none;">
            <p class="close-comment-section">x</p>
            <form class="leave-comment-form" action="/restaurants/<%= restaurant._id %>/menuItems/<%= item._id %>/comments/new" method="POST">
              <input type="text" name="body" placeholder="Leave a critique">
              <input type="submit" value="go">
            </form>

            <div class="comment-div">
              <% item.comments.forEach(comment => { %>
                <div class="single-comment">
                  <div class="comment-picture profile-default" style="background-image: url(<%= comment.user.photo %>);"><a href="/users/<%= comment.user.id %>"><span><strong><%= comment.user.firstName %></strong></span></a></div>
                  <span class="comment"><%= comment.body %></span>
                  <% if (locals.currentUser && comment.user.id === locals.currentUser.id) { %>
                    <form class="delete-comment-form" action="/restaurants/<%= restaurant._id %>/menuItems/<%= item._id %>/comments/<%= comment._id %>" method="POST">
                      <input type="hidden" name="_method" value="delete">
                      <button class="delete-comment">DELETE</button>
                    </form>
                  <% } %>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="col-12 add-item-section">
    <a class="cancel-button add-item" href="/restaurants/<%= restaurant.restaurantId %>/menuItems/new">ADD NEW ITEM</a>
  </div>
</section>
